@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0%;
}
.main {
  padding-left: 10%;
  padding-right: 10%;
}

#app {
  font-family: "Open Sans", sans-serif;
}
